/* 
    COLORS
    GREEN -- #40503A
*/
.text-box, .countdown-container, .about-rsvp, .timeline, .timeline-event, .location-wrapper, .footer-wrapper, .copyright-wrapper {
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 1001px) and (max-width: 1440px) {
    .text-box, .countdown-container, .about-rsvp, .timeline, .timeline-event, .location-wrapper, .footer-wrapper, .copyright-wrapper {
      padding-right: 100px;
      padding-left: 100px; } }
  @media only screen and (min-width: 701px) and (max-width: 1000px) {
    .text-box, .countdown-container, .about-rsvp, .timeline, .timeline-event, .location-wrapper, .footer-wrapper, .copyright-wrapper {
      padding-right: 75px;
      padding-left: 75px; } }
  @media only screen and (min-width: 481px) and (max-width: 700px) {
    .text-box, .countdown-container, .about-rsvp, .timeline, .timeline-event, .location-wrapper, .footer-wrapper, .copyright-wrapper {
      padding-right: 50px;
      padding-left: 50px; } }
  @media only screen and (max-width: 480px) {
    .text-box, .countdown-container, .about-rsvp, .timeline, .timeline-event, .location-wrapper, .footer-wrapper, .copyright-wrapper {
      padding-right: 25px;
      padding-left: 25px; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Chonburi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.header {
  background-image: url("../img/hero.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%; }
  @media only screen and (max-width: 1000px) {
    .header {
      background-attachment: scroll;
      height: 80vh; } }
  @media only screen and (max-width: 700px) {
    .header .heading--primary {
      display: flex;
      flex-direction: column; } }

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-bottom: 10%; }

.countdown-container {
  text-align: center;
  color: #40503a; }
  @media only screen and (max-width: 700px) {
    .countdown-container {
      margin-top: 3rem; } }
  .countdown-container li {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    padding: 1em; }
    @media only screen and (max-width: 700px) {
      .countdown-container li {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 480px) {
      .countdown-container li {
        font-size: 1rem; } }
    .countdown-container li span {
      display: block;
      font-size: 4.5rem; }
      @media only screen and (max-width: 700px) {
        .countdown-container li span {
          font-size: 3rem; } }

.about-rsvp {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #40503a;
  height: 100%; }
  @media only screen and (max-width: 700px) {
    .about-rsvp {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .about-rsvp__left {
    width: calc((100% - 2 * 50px) / 3);
    margin-right: 50px; }
    @media only screen and (max-width: 700px) {
      .about-rsvp__left {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 3rem 0; } }
    .about-rsvp__left img {
      width: 100%;
      border-top-left-radius: 50rem;
      border-top-right-radius: 50rem;
      height: 100%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      @media only screen and (max-width: 700px) {
        .about-rsvp__left img {
          width: 50%; } }
  .about-rsvp__right {
    width: calc(2 * (100% / 3));
    text-align: center; }
    @media only screen and (max-width: 700px) {
      .about-rsvp__right {
        width: 100%; } }
    .about-rsvp__right h3 {
      margin-bottom: 4rem; }
      @media only screen and (max-width: 700px) {
        .about-rsvp__right h3 {
          margin-bottom: 2rem; } }
  .about-rsvp .btn {
    margin-top: 50px; }

.gallery {
  height: 100vh;
  background-color: #40503a;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 700px) {
    .gallery {
      height: 80vh; } }
  .gallery img {
    max-width: 100%;
    height: auto;
    display: block; }
  .gallery .splide {
    width: 100%;
    max-width: 1200px;
    margin: auto; }
    .gallery .splide__slide img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      max-height: 80vh; }
      @media only screen and (max-width: 700px) {
        .gallery .splide__slide img {
          max-width: 80vw;
          height: 100%;
          object-fit: cover; } }
    .gallery .splide__slide__container {
      height: 100%; }
      @media only screen and (max-width: 700px) {
        .gallery .splide__slide__container {
          height: 60vh; } }

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem; }
  @media only screen and (max-width: 700px) {
    .timeline {
      margin-top: 4rem; } }
  .timeline .line {
    width: 50%;
    margin-top: -2rem; }
  .timeline h2 {
    text-transform: uppercase; }
  .timeline .heading--tertiary {
    font-family: "Baskervville", sans-serif;
    color: #40503a;
    text-transform: uppercase;
    margin-right: 4rem; }
    @media only screen and (max-width: 700px) {
      .timeline .heading--tertiary {
        margin-right: 1rem; } }
  .timeline img {
    width: 80%; }
  .timeline-event {
    margin: 5rem 0;
    display: flex;
    gap: 1rem;
    padding: 20px;
    justify-content: center; }
    @media only screen and (max-width: 700px) {
      .timeline-event {
        flex-wrap: wrap;
        margin: 3rem 0; } }
    .timeline-event .event {
      text-align: center;
      position: relative;
      width: calc((100% / 5) - 1rem); }
      @media only screen and (max-width: 700px) {
        .timeline-event .event {
          width: calc((50%) - 1rem); } }
      .timeline-event .event .event-icon {
        width: 10rem;
        height: 10rem;
        margin: 0 auto 10px;
        background-color: #2f3924;
        border-radius: 50%;
        background-size: 8rem;
        background-repeat: no-repeat;
        background-position: center; }
        @media only screen and (max-width: 700px) {
          .timeline-event .event .event-icon {
            width: 6rem;
            height: 6rem;
            background-size: 5rem; } }
        .timeline-event .event .event-icon.religious-ceremony {
          background-image: url("../img/religious-icon.png"); }
        .timeline-event .event .event-icon.engagement-ceremony {
          background-image: url("../img/engagement-icon.png"); }
        .timeline-event .event .event-icon.respect-elders {
          background-image: url("../img/respect-elders-icon.png"); }
        .timeline-event .event .event-icon.water-blessing {
          background-image: url("../img/water-blessing-icon.png"); }
        .timeline-event .event .event-icon.wedding-reception {
          background-image: url("../img/wedding-reception-icon.png"); }
      .timeline-event .event .event-date {
        font-weight: bold;
        font-size: 14px;
        color: #2f3924;
        margin-bottom: 5px; }
      .timeline-event .event .event-title {
        color: #2f3924;
        margin-bottom: 5px; }
        @media only screen and (max-width: 700px) {
          .timeline-event .event .event-title {
            font-size: 1.2rem; } }
      .timeline-event .event .event-description {
        color: #6e7764; }
        @media only screen and (max-width: 700px) {
          .timeline-event .event .event-description {
            font-size: 1.2rem; } }
  .timeline-theme {
    display: flex;
    align-items: center;
    margin: 60px 0; }
    @media only screen and (max-width: 700px) {
      .timeline-theme {
        margin: 20px 0; } }
    .timeline-theme__wrapper {
      display: flex;
      gap: 20px; }
      @media only screen and (max-width: 700px) {
        .timeline-theme__wrapper {
          gap: 10px; } }
  .timeline .theme {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
    @media only screen and (max-width: 700px) {
      .timeline .theme {
        width: 30px;
        height: 30px; } }
    .timeline .theme.cream {
      background-color: #dcc2a9; }
    .timeline .theme.beige {
      background-color: #dcc2a9; }
    .timeline .theme.grey {
      background-color: #838486; }
    .timeline .theme.green {
      background-color: #888f6f; }
    .timeline .theme.brown {
      background-color: #815533; }

.location {
  background-color: #fcfcfb; }
  .location-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    padding-top: 10rem;
    padding-bottom: 10rem; }
    @media only screen and (max-width: 700px) {
      .location-wrapper {
        flex-direction: column;
        padding-top: 6rem;
        padding-bottom: 6rem; } }
  .location-left {
    width: calc((100% / 2) - 5rem);
    text-align: center;
    margin-right: 5rem; }
    @media only screen and (max-width: 700px) {
      .location-left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5rem; } }
    .location-left img {
      width: 60px; }
    .location-left a {
      margin-top: 3rem; }
    .location-left h3 {
      font-family: "Baskervville", sans-serif;
      text-transform: uppercase; }
  .location-right {
    width: calc((100% / 2)); }
    @media only screen and (max-width: 700px) {
      .location-right {
        width: 100%; } }
    .location-right iframe {
      width: 100%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      height: 40rem; }

.footer {
  background-image: url("../img/footer.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center; }
  @media only screen and (max-width: 700px) {
    .footer {
      height: 60vh; } }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }

.copyright {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  @media only screen and (max-width: 700px) {
    .copyright {
      font-size: 1rem; } }

.heading--primary {
  font-family: "Baskervville", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
  display: inline-block;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 1000px) {
    .heading--primary {
      font-size: 4rem; } }
  @media only screen and (max-width: 700px) {
    .heading--primary {
      font-size: 2.5rem; } }

.heading--secondary {
  font-family: "Baskervville", sans-serif;
  font-size: 4rem;
  color: #40503a; }
  @media only screen and (max-width: 1000px) {
    .heading--secondary {
      font-size: 2rem; } }

.heading--tertiary {
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 5px;
  color: #fff; }
  @media only screen and (max-width: 1000px) {
    .heading--tertiary {
      font-size: 1.5rem; } }

.heading--quaternary {
  font-size: 1.5em; }

.heading--quinary {
  font-size: 1.25em; }

.heading--senary {
  font-size: 1em; }

.heading-seconary {
  margin-bottom: 50px; }
  .heading-seconary-main {
    display: block; }
  .heading-seconary-sub {
    display: block; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: #40503a;
  color: #fff;
  border-radius: 1rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 700px) {
    .btn:link, .btn:visited {
      font-size: 1.2rem;
      padding: 10px 30px; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
