.header {
  background-image: url("../img/hero.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;

  @include responsiveMax($responsive_switch--big) {
    background-attachment: scroll;
  }
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-bottom: 10%;
}

// Section Countdown
.countdown-container {
  @extend %pagewidth;
  text-align: center;
  padding: 20px 0;
  color: $color-dark-green;

  li {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;

    display: inline-block;
    list-style-type: none;
    padding: 1em;

    @include responsiveMax($responsive_switch--small) {
      font-size: 1.5rem;
    }
    span {
      display: block;
      font-size: 4.5rem;

      @include responsiveMax($responsive_switch--small) {
        font-size: 3rem;
      }
    }
  }
}

// About
.about-rsvp {
  @extend %pagewidth;
  margin-bottom: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: $color-dark-green;

  height: 100%;

  @include responsiveMax($responsive_switch--small) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__left {
    width: calc((100% - 2 * 50px) / 3);
    margin-right: 50px;

    @include responsiveMax($responsive_switch--small) {
      width: 100%;
      margin-right: 0;
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
    }

    img {
      width: 100%;
      border-top-left-radius: 50rem;
      border-top-right-radius: 50rem;
      height: 100%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

      @include responsiveMax($responsive_switch--small) {
        width: 50%;
      }
    }
  }

  &__right {
    width: calc(2 * (100% / 3));
    text-align: center;

    @include responsiveMax($responsive_switch--small) {
      width: 100%;
    }

    h3 {
      margin-bottom: 4rem;

      @include responsiveMax($responsive_switch--small) {
        margin-bottom: 2rem;
      }
    }
  }

  .btn {
    margin-top: 50px;
  }
}

// gallery
.gallery {
  height: 100vh;
  background-color: $color-dark-green;
  display: flex;
  justify-content: center;
  align-items: center;
  .splide {
    max-width: 120rem;
  }
  img {
    max-height: 80vh;
    width: 100%;
  }
}

// timeline
.timeline {
  max-width: $pagewidth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;

  .line {
    width: 50%;
    margin-top: -2rem;
  }

  h2 {
    text-transform: uppercase;
  }

  .heading--tertiary {
    font-family: "Baskervville", sans-serif;
    color: $color-dark-green;
    text-transform: uppercase;
    margin-right: 4rem;

    @include responsiveMax($responsive_switch--small) {
      margin-right: 1rem;
    }
  }

  img {
    width: 80%;
  }

  &-event {
    @extend %pagewidth;
    margin: 5rem 0;
    display: flex;
    gap: 1rem;
    padding: 20px;
    justify-content: center;

    @include responsiveMax($responsive_switch--small) {
      flex-wrap: wrap;
    }

    .event {
      text-align: center;
      position: relative;
      width: calc((100% / 5) - 1rem);

      @include responsiveMax($responsive_switch--small) {
        width: calc((50%) - 1rem);
      }

      .event-icon {
        width: 10rem;
        height: 10rem;
        margin: 0 auto 10px;
        background-color: #2f3924; // Dark green background color
        border-radius: 50%;
        background-size: 8rem;
        background-repeat: no-repeat;
        background-position: center;

        @include responsiveMax($responsive_switch--small) {
          width: 6rem;
          height: 6rem;
          background-size: 5rem;
        }

        &.religious-ceremony {
          background-image: url("../img/religious-icon.png");
        }
        &.engagement-ceremony {
          background-image: url("../img/engagement-icon.png");
        }
        &.respect-elders {
          background-image: url("../img/respect-elders-icon.png");
        }
        &.water-blessing {
          background-image: url("../img/water-blessing-icon.png");
        }
        &.wedding-reception {
          background-image: url("../img/wedding-reception-icon.png");
        }
      }

      .event-date {
        font-weight: bold;
        font-size: 14px;
        color: #2f3924;
        margin-bottom: 5px;
      }

      .event-title {
        color: #2f3924;
        margin-bottom: 5px;
        @include responsiveMax($responsive_switch--small) {
          font-size: 1.2rem;
        }
      }

      .event-description {
        color: #6e7764;

        @include responsiveMax($responsive_switch--small) {
          font-size: 1.2rem;
        }
      }
    }
  }

  &-theme {
    display: flex;
    align-items: center;
    margin: 60px 0;

    @include responsiveMax($responsive_switch--small) {
      margin: 40px 0;
    }

    &__wrapper {
      display: flex;
      gap: 20px;

      @include responsiveMax($responsive_switch--small) {
        gap: 10px;
      }
    }
  }

  .theme {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @include responsiveMax($responsive_switch--small) {
      width: 30px;
      height: 30px;
    }

    &.cream {
      background-color: #dcc2a9;
    }

    &.beige {
      background-color: $color-beige;
    }

    &.grey {
      background-color: $color-grey;
    }

    &.green {
      background-color: $color-green;
    }
    &.brown {
      background-color: $color-brown;
    }
  }
}

// Location section
.location {
  background-color: #fcfcfb;

  &-wrapper {
    @extend %pagewidth;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    padding-top: 10rem;
    padding-bottom: 10rem;

    @include responsiveMax($responsive_switch--small) {
      flex-direction: column;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &-left {
    width: calc((100% / 2) - 5rem);
    text-align: center;

    margin-right: 5rem;

    @include responsiveMax($responsive_switch--small) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5rem;
    }

    img {
      width: 60px;
    }

    a {
      margin-top: 3rem;
    }

    h3 {
      font-family: "Baskervville", sans-serif;
      text-transform: uppercase;
    }
  }

  &-right {
    width: calc((100% / 2));

    @include responsiveMax($responsive_switch--small) {
      width: 100%;
    }

    iframe {
      width: 100%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
      height: 40rem;
    }
  }
}

.footer {
  background-image: url("../img/footer.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  text-align: center;

  &-wrapper {
    @extend %pagewidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
